<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lokka.jz.dao.extend.OrderExtendMapper">
    <select id="selectById" resultMap="orderExtendResultMap">
        SELECT * FROM jz_order WHERE id = #{id}
    </select>

    <resultMap id="orderExtendResultMap" type="me.lokka.jz.bean.extend.OrderExtend" extends="me.lokka.jz.dao.OrderMapper.BaseResultMap">
        <association property="customer"
                     column="customer_id"
                     select="me.lokka.jz.dao.UserMapper.selectByPrimaryKey"
        />
        <association property="employee"
                     column="employee_id"
                     select="me.lokka.jz.dao.UserMapper.selectByPrimaryKey"
        />
        <association property="address"
                     column="address_id"
                     select="me.lokka.jz.dao.AddressMapper.selectByPrimaryKey"
        />
        <collection property="orderLines"
                    column="id"
                    select="me.lokka.jz.dao.extend.OrderLineExtendMapper.selectByOrderId">
        </collection>
    </resultMap>
</mapper>