<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lokka.ssmcrud.dao.ProductMapper">

    <!--mapper中方法的实现配置属性-->
    <select id="selectAll" resultMap="ProductBaseResultMap">
        SELECT * FROM jz_product
    </select>

    <insert id="insert" parameterType="me.lokka.ssmcrud.bean.Product">
        INSERT INTO jz_product VALUES (null, #{name}, #{intro}, #{price}, #{status}, #{photo}, #{sales}, #{categoryId} )
    </insert>

    <update id="update" parameterType="me.lokka.ssmcrud.bean.Product">
         UPDATE jz_product SET name=#{name}, introduce=#{intro}, price=#{price}, status=#{status}, photo=#{photo}, sales=#{sales}, category_id=#{categoryId}
         WHERE id=#{id}
    </update>

    <select id="selectByCategoryId" resultMap="ProductBaseResultMap">
      SELECT * FROM jz_product WHERE category_id = #{categoryId}
    </select>

    <delete id="deleteById">
        DELETE FROM jz_product WHERE id=#{id}
    </delete>

    <!--映射结果集-->
    <resultMap id="ProductBaseResultMap" type="me.lokka.ssmcrud.bean.Product">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="intro" column="introduce"></result>
        <result property="price" column="price"></result>
        <result property="status" column="status"></result>
        <result property="photo" column="photo"></result>
        <result property="sales" column="sales"></result>
        <result property="categoryId" column="category_id"></result>
    </resultMap>

</mapper>